/*
Name: styles.css
Description: Styles for the presentation
*/

.align-left
{
  text-align: left;
}
.align-right
{
  text-align: right;
}
.align-center
{
  text-align: center;
}
.align-justify
{
  text-align: justify;
}
.no-bullets
{
  list-style: none !important;
}

#sec1 img, #sec4 section img
{
  z-index: -1;
  position:absolute;
  top:-3%;
  left: -37%;
  border: 0;
  max-width: 500%;
  width: 175%;
  height: 110%;
  max-height: 500%;
  opacity: 0.2;
}
